@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "establishRetrosansOTF";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
